!!! 5

%html
  %head
    %title
      Landskape
    %link{:href => "reset.css"}
    %link{:href => "bootstrap/css/bootstrap.min.css"}
    %link{:href => "style.css"}

  %body

    #container

    Hi

    %script{:src => "bootstrap/js/bootstrap.min.js"}
    :javascript
      // $("input[type='password']").keyup(function() {
      //   $("h1").text($(this).attr('value').length);
      // });


