.container
  #filters-bar
    %div{:style => "float:left;margin-top:4px;margin-left:12px;margin-right:7px;"}
      Select a view to filter: 
    .filters-item.filters-text.btn
      Trending
    .filters-item.filters-text.btn
      Recent
    .filters-item.filters-text.btn
      Favorites
    .filters-item.filters-text.btn
      Recommended
    .filters-item.filters-text.btn
      Photo of the Day
    .clear
