.container
  %div.column1
    %div.pic-thumb
      %div.pic-thumb-hover-content
        %img{:src => "img/heart.png", :class => "btn"}
        %a.btn.filters-text
          comment
        .clear
      %img{:src => "img/greenery.jpg", :class => "pic"}
    %div.pic-thumb
      %img{:src => "img/forest_path.jpg", :class => "pic"}
    %div.pic-thumb
      %img{:src => "img/lake_fall.jpg", :class => "pic"}

  %div.column2
    %div.pic-thumb
      %img{:src => "img/lake_fall.jpg", :class => "pic"}
    %div.pic-thumb
      %img{:src => "img/greenery.jpg", :class => "pic"}
    %div.pic-thumb
      %img{:src => "img/forest_path.jpg", :class => "pic"}

  %div.column3
    %div.pic-thumb
      %img{:src => "img/forest_path.jpg", :class => "pic"}
    %div.pic-thumb
      %img{:src => "img/lake_fall.jpg", :class => "pic"}
    %div.pic-thumb
      %img{:src => "img/greenery.jpg", :class => "pic"}
  .clear




