!!! 5

%html
  %head
    %title
      Landskape added this so I could commit.
    %link{:rel => "stylesheet", :type => "text/css", :href => "css/reset.css"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "css/bootstrap.min.css"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "stylesheets/style.sass"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "stylesheets/navbar.sass"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "stylesheets/filters.sass"}
  %body
    #container
