.container
  %div.column1
    %div.pic-thumb
      %img{:src => "img/greenery.jpg"}
    %div.pic-thumb
      %img{:src => "img/forest_path.jpg"}
    %div.pic-thumb
      %img{:src => "img/lake_fall.jpg"}

  %div.column2
    %div.pic-thumb
      %img{:src => "img/lake_fall.jpg"}
    %div.pic-thumb
      %img{:src => "img/greenery.jpg"}
    %div.pic-thumb
      %img{:src => "img/forest_path.jpg"}

  %div.column3
    %div.pic-thumb
      %img{:src => "img/forest_path.jpg"}
    %div.pic-thumb
      %img{:src => "img/lake_fall.jpg"}
    %div.pic-thumb
      %img{:src => "img/greenery.jpg"}
  .clear




