%script{:src => "js/jquery-1.8.2.min.js"}
%script{:src => "js/bootstrap.min.js"}
:javascript
  // $("input[type='password']").keyup(function() {
  //   $("h1").text($(this).attr('value').length);
  // });
