.container
  #navbar
    %a{:href => "/"}
      %img#logo{:src => "/img/landskape_logo.png"}
    %div.float-right
      %div#search
        %form.form-search
          %div.input-append
            %input.span2.search-query{:type=>"text"}
            %button.btn{:type=>"submit"}
              %i.icon-search
      %div#upload
        %a.btn
          Upload
          %i.icon-picture
      %div#login-logout
        %a.btn.btn-primary
          Login
      %div#who-logged-in
        Logged in as: #{username}
      .clear
    .clear

