
%html
  %head
    User Page
      %title
        [photographer's] Photos
        %body
          %div More Info about [Photographer]
            .img
              %a{:href => " "}
            .img
              %a{:href => " "}
            .img
              %a{:href => " "}