.container
  %h1
    [photographer]'s photos
  %div More Info about [photographer]
  .user-bio
    This is a simple bio about a random photographer
  .show-bar
    %div.btn
      show
  .img
    %a{:href => " "} lol first
  .img
    %a{:href => " "} lol second
  .img
    %a{:href => " "} lol third