// filters.sass
// description: css for the filters bar

@font-face
  font-family: "NovecentoWideMedium"
  src: url("fonts/novecentowide-medium-webfont.eot")
  font-weight: normal
  font-style: normal

.filters-item
  width: auto
  padding: 3px
  padding-left: 5px
  padding-right: 5px
  font: 11px/12px 'NovecentoWideMedium'
