// STYLE.SASS
// description: main global css file

@import "vspacer_num"
@import "css3_mixins"

.clear
  clear: both

body
  // background-color: #fff
  background-color: #ddd

$container_width: 900px
#container
  width: $container_width
  margin: 0 auto

.column1,.column2,.column3
  padding: 10px
  float: left

$pic-thumb-width: 280px
$pic-thumb-height: 160px
.pic-thumb
  width: $pic-thumb-width
  height: $pic-thumb-height
  outline: 1px solid #aaa
  overflow: hidden
  margin-bottom: 20px

  img
    position: relative
    top: -30px


