
#upload-left
  background: #888
#drag-and-drop
  width: 90%
  height: 260px
  margin: 0 auto
  margin-top: 10px
  margin-left: 5%
  border: 1px dashed #aaa
#file-browse
  width: 90%
  margin-top: 10px
  margin-left: 5%

