
%html
   %head
      User Page
      %title
         [photographer's] Photos
         %body
            Information:
            .img

            .img


	    .img

<div class="img">
  <a target="_blank" href="klematis_big.htm">
  <img src="klematis_small.jpg" alt="Klematis" width="110" height="90">
  </a>
  <div class="desc">Add a description of the image here</div>
