@import "css3_mixins"

#img
  margin: 2px
  border: 1px solid #0000ff
  height: auto
  width: auto
  float: left
  text-align: center

.user-bio
  visibility: hidden

.show-bar
  margin: 0px
  padding:  0px
  //border:
  height: 15px
  width: 90%
  //overflow: hidden
  .btn
    line-height: 15px
    margin: 0 auto
    display: block
    padding: 0px
    height: 15px
    width: 25px
    font-size: 10px
